.main-header nav ul .active-link {
  color: var(--primary-color);
}

.expert-title {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 50px auto;
  font-size: 30px;
  color: var(--primary-dark-color);
  position: relative;
}

.expert-title::after {
  content: " ";
  width: 80px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: 50px;
}
